body {
    margin: 0;
    font-family: pixel, monospace;
    background: #00163A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hidden { display: none; }

button {
    padding: 12px 22px;
    margin: 6px;
    background: #4F8BFF;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover { opacity: .8; }

.logo {
    width: 200px;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0%,100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

.topBar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.rightButtons button {
    font-size: 16px;
    margin-left: 5px;
}

.infoBox, #menu {
    background: #002B6A;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #4F8BFF;
}
.retryBtn {
    margin-top: 10px;
}
